<h1>Financial Statements</h1>       
	
 <p>     <%= link_to  "Balance Sheet" , '/reports/balancesheet' %>    </p>          	        
<p>	  <%= link_to  "Income Statement" , '/reports/pandl' %>      </p>           